<!DOCTYPE html>
<html lang="en">

<head>
    <title>Voting</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway|Hind' rel='stylesheet' type='text/css'>
    <script src="js/buttoncontroll.js"></script>

</head>

<body>
    <br>
    <div class="container-fluid">

        <div class="row text-center">


            <div class="row">
                <div class="col-sm-6" id="smile1" data-toggle="modal" data-target="#myModal"><img src="/img/smile1.png" class="img-thumbnail" height="60" width="60"></div>

                <div class="col-sm-6">Excellent</div>

            </div>

            <br>


            <div class="row">
                <div class="col-sm-6" id="smile2" data-toggle="modal" data-target="#myModal"><img src="/img/smile2.png" class="" height="60" width="60"></div>

                <div class="col-sm-6">Good</div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-6" id="smile3" data-toggle="modal" data-target="#myModal"><img src="/img/smile3.png" class="img-thumbnail" height="60" width="60"></div>

                <div class="col-sm-6">Average</div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-6" id="smile4" data-toggle="modal" data-target="#myModal"><img src="/img/smile4.png" class="img-thumbnail" height="60" width="60"></div>

                <div class="col-sm-6">Poor</div>

            </div>
            <br>
            <div class="row">
                <div class="col-sm-6" id="smile5" data-toggle="modal" data-target="#myModal"><img src="/img/smile5.png" class="img-thumbnail" height="60" width="60"></div>

                <div class="col-sm-6">Very Poor</div>




            </div>


            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>


</html>