<!DOCTYPE html>

<html lang="en">

<head>

    <title>Voting result</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway|Hind' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <script src="js/result.js"></script>

</head>

<body>

    <div class="container " ng-app="resultapp" ng-controller="resultcontroler">

        <h2>Total Vote  {{totalvote}}</h2>

        <table class="table table-bordered">
            <thead>

            </thead>
            <tbody>


                <tr>
                    <td>
                        <div class="row">
                            <div class="col-sm-6" id="smile1"><img src="/img/smile1.png" class="img-thumbnail" height="60" width="60"></div>

                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6" id="smile1"><img src="/img/smile2.png" class="img-thumbnail" height="60" width="60"></div>

                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6" id="smile1"><img src="/img/smile3.png" class="img-thumbnail" height="60" width="60"></div>

                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6" id="smile1"><img src="/img/smile4.png" class="img-thumbnail" height="60" width="60"></div>

                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6" id="smile1"><img src="/img/smile5.png" class="img-thumbnail" height="60" width="60"></div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Excellent</h3></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Good</h3></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Average</h3></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Poor</h3></div>
                        </div>
                    </td>

                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3>Very Poor</h3></div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>{{smile1Amount}}</h1></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>{{smile2Amount}}</h1></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>{{smile3Amount}}</h1></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>{{smile4Amount}}</h1></div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-6">
                                <h1>{{smile5Amount}}</h1></div>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
        <h4>        Voting result will refresh automatically, so do not refresh
</h4>


    </div>
</body>

</html>